body {
  background-color: rgb(218, 218, 218);
}

.container-blog {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.container-blog-top {
  width: 700px;
  height: 550px;
  margin: 2em auto;
}

.form-container {
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  /* background-color: aliceblue; */
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 1em auto;
}

.date-blog {
  /* background-color: #fff; */
  width: 51%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 5px; */
}

.date-start {
  /* background-color: #333; */
  width: 50%;
}

.date-end {
  width: 50%;
}

.date-start > input {
  width: 90%;
}

.date-end > input {
  width: 95%;
}

.blog-filter {
  /* background-color: aquamarine; */
  width: 51%;
  margin: 1em auto;
}

.blog-radio {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

.blog-radio > label {
  padding-right: 10px;
}

label,
input,
textarea {
  width: 50%;
  padding: 4px;
}

.label-img {
  /* background-color: #fff; */
  width: 50%;
}

.input-blog-image-group label {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 1px rgb(0, 0, 0, 0.5);
}

.input-blog-image-group label p {
  width: 100%;
  background-color: #d6d6d6;
  border-radius: 7px;
}

.btn {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

/* CSS Blog Bottom */

.container-blog-bottom {
  /* background-color: black; */
  width: 100%;
  height: 80vh;
  margin: auto;
}

.blog hr {
  background-color: #333;
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* .blog-list {
  background-color: aquamarine;
  display: flex;
  margin: 3em auto;
  width: 85%;
  height: 70vh;
} */

.card-blog-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 30px;
}

.card {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 100%;
  height: 60px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.blog-content {
  width: 100%;
  height: 60px;
}

.detail-blog-content {
  margin-top: 15px;
}

.wrap-blog-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.wrap-images-btn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-btn {
  padding: 0;
}

.checkbox {
  font-weight: bold;
}

.btn-blog {
  display: inline-block;
  width: 100px;
  padding: 8 px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1px;
  color: white;
  text-align: center;
}

.blog-radio {
  margin-top: 10px;
}

.images {
  width: 50px;
  height: 35px;
  display: flex;
  gap: 10px;
}

.images > img {
  width: 100%;
  height: auto;
}

/* Blog Detail */

.blog-detail {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  width: 70%;
  height: auto;
  box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 20px;
}

.blog-detail-container {
  width: 80%;
  margin: 40px 0;
}

.blog-detail-container img {
  width: 100%;
}

.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}

@media only screen and (max-width: 830px) {
  .container-blog-top {
    width: 100%;
    height: 100%;
  }
  .blog-filter {
    line-height: 5px;
    width: 70%;
  }
  .blog-filter > label {
    display: flex;
  }
  .blog-radio {
    display: flex;
    width: 100%;
    gap: 5px;
  }
  .blog-radio label {
    width: 100px;
  }
  .blog-radio > input {
    width: 5%;
  }
  label,
  input,
  textarea {
    width: 70%;
    padding: 4px;
  }
  textarea {
    height: 200px;
  }
  .date-blog {
    width: 72%;
  }
  .label-img {
    width: 70%;
  }
  /* Blog */
  .card-blog-container {
    width: 100%;
    margin: 2em auto;
  }
  .card {
    margin: auto;
    width: 90%;
  }
  .wrap-images-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .images {
    width: 15%;
  }
  .card-btn {
    padding: 0;
  }
}
