@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 700;
}

.btn-orange {
    background-color: crimson;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
}

.btn-orange:hover {
    color: crimson;
    background-color: black;
    transition: 0.3s ease-in-out;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    background: #000;
    padding: 0.5em 1.5em;
    border-radius: 60px;
    margin: 1em 0;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-weight: 800;
}

.container {
    width: 700px;
    margin: 3em auto;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px 5px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container-contact {
    width: 300px;
    margin: 3em auto;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px 5px rgb(0, 0, 0, 0.2);
    gap: 30px;
}

.social {
    max-width: 640px;
    margin: 1em auto;
    padding: 0;
    text-align: left;
}

.social img {
    padding: 0.5em;
    width: 10%;
}

label {
    display: block;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
}