* {
  font-weight: 600;
}

.container-form {
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.container-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
}

.container-sm {
  /* background-color: antiquewhite; */
  max-width: 500px;
}

.card-image {
  width: 100%;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  position: relative;
}

.card-project {
  /* background-color: antiquewhite !important; */
  height: 640px;
}

.card-content {
  height: 100px;
  /* background-color: aqua; */
}

.card-duration {
  height: 50px;
  /* background-color: aqua; */
}

.active {
  color: orangered !important;
}

.social {
  width: 40px;
}

.btn-contact {
  background-color: orangered !important;
}

.btn-card {
  color: white;
  background-color: rgb(28, 28, 78) !important;
}

.btn-card:hover {
  color: orangered;
}

.wrap {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 20px;
}
